<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  (C) Copyright 2017 Ymatou (http://www.ymatou.com/).
  ~  All rights reserved.
  ~  */
  -->

<configuration>
	<property name="pattern"
		value="%date [%thread] %-5level %logger{40} KEY[%X{logPrefix}] - %msg%n" />
	<property name="level" value="debug" />
	<property name="charset" value="UTF-8" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>${charset}</charset>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	-

	<root level="${level}">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>